@import '../../../main-style.scss';

.root {
    display: flex;
    width: 100%;
    position: relative;

    &:hover {
        .x-icon-button {
            opacity: 1;
            transform: scale(1);
        }
    }

    .x-icon-button {
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: $dark;
        background-image: url(../../../assets/delete_icon.svg);
        background-repeat: no-repeat;
        background-position: center;
        top: -17px;
        right: -17px;
        transition: opacity 0.2s ease-out, transform 0.2s ease-out;
        transform: scale(0);
        opacity: 0;

        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}

.budget-item {
    display: flex;
    width: 100%;
    background: $light-grey;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    transition: background 0.2s  ease-out;
    &:hover {
        background: darken($light-grey, 2%);
    }

    .description {
        display: flex;
        flex-grow: 1;
        font-size: 18px;
        margin-left: 5px;

        ///Vertically align child
        align-items: center;
    }

    .amount {
        padding: 5px;
        border-radius: 3px;
    }
}

.expense {
    .description {
        color: $red;
    }
    .amount {
        background: $light-red;
    }
}

.income {
    .description {
        color: $green;
    }
    .amount {
        background: $light-green;
    }
}

