<section class="top-bar">
  <h1>Budget Calculator</h1>
</section>

<section class="total-budget">
  <h2>1500</h2>
</section>


<section class="add-item-container">
  <div class="add-item-section">
    <form>
      <div class="field-body is-horizontal">

        <div class="field is-narrow">
          <p class="control">
            <input type="number" class="input" style="width: 75px"/>
          </p>
        </div>

        <div class="field">
          <p class="control">
            <input type="text" class="input" placeholder="Description"/>
          </p>
        </div>

        <div class="field is-narrow">
          <p class="control">
            <button class="button is-primary">Add</button>
          </p>
        </div>

      </div>
    </form>

    <hr/>
  </div>
</section>


<section class="budget-items-container">
  <div class="budget-items">
    <div class="income-column">
      <h1>Income</h1>
      <div class="item-list">

        <div class="budget-item-root">
          <div class="budget-item">
            <span class="description">Income 1</span>
            <span class="amount">100</span>
          </div>
          <div class="delete-icon"></div>
        </div>

        <div class="budget-item-root">
          <div class="budget-item">
            <span class="description">Income 2</span>
            <span class="amount">200</span>
          </div>
          <div class="delete-icon"></div>
        </div>

      </div>
    </div>


    <div class="expense-column">
      <h1>Expense</h1>
      <div class="item-list">

        <div class="budget-item-root">
          <div class="budget-item">
            <span class="description">Expense 1</span>
            <span class="amount">100</span>
          </div>
          <div class="delete-icon"></div>
        </div>

        <div class="budget-item-root">
          <div class="budget-item">
            <span class="description">Expense 2</span>
            <span class="amount">100</span>
          </div>
          <div class="delete-icon"></div>
        </div>

      </div>
    </div>
  </div>

</section>
